<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <title>BikeSensor Network Connector</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>
<body>
  <div class="container" >
    <a class="links" id="paracadastro"></a>
    <a class="links" id="paralogin"></a>

    <div class="content">
      <div id="login">
        <form method="POST" action="">
          <h1>RTMediaTester</h1>
          <p>
            <label for="nome_login">SSID</label>
            <input id="nome_login" name="ssid" required="required" type="text" placeholder="ex. BikeSensor"/>
          </p>

          <p>
            <label for="email_login">Password</label>
            <input id="email_login" name="password" required="required" type="password" placeholder="ex. 123456789" />
          </p>

          <p>
            <input type="submit" value="Register network" />
          </p>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
